.empty_state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100vh;

  &>p {
    font-weight: var(--font-weight-500);
    color: var(--color-text-secondary);
  }
}
