.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 37px;
    border-radius: var(--radius-8);
    background: var(--primary);
    color: var(--white);
    font-weight: var(--font-weight-400);
    font-size: var(--text-14);
    transition: opacity var(--transition-base);

    &:hover {
        opacity: 0.9;
    }
}
