<form class="form" id="{{formId}}">
  <h1 class="form__title">{{title}}</h1>

  <div class="form__content">
    {{> @partial-block }}
  </div>

  <div class="form__actions">
    {{> Button text=buttonText type="submit"}}
    {{#if linkText}}
    <a href="{{linkHref}}" class="link" data-link>{{linkText}}</a>
    {{/if}}
  </div>

</form>
