<aside class="sidebar">
  <div class="sidebar__search">
    <div class="sidebar__search-buttons">
      <button class="sidebar__add-chat-button" type="button">Добавить чат</button>
      <a href="/settings" class="sidebar__search-profile" data-link>Профиль</a>
    </div>
    <div class="sidebar__search-wrapper">
      <input class="sidebar__search-input" type="text" name="search" placeholder="Поиск" />
      <img class="sidebar__search-icon" src="{{searchIcon}}" alt="search">
    </div>
  </div>

  {{#if isEmpty}}
  <div class="sidebar__empty">
    <p class="sidebar__empty-text">Нет активных диалогов</p>
  </div>
  {{else}}
  <ul class="sidebar__dialogs">
    {{{dialogs}}}
  </ul>
  {{/if}}
</aside>
