<form class="message-form">
  <label class="message-form__file">
    <input type="file" name="file" id="file-upload" style="display: none;" />
    <img src="{{fileIcon}}" alt="attach file" class="message-form__file-icon-cursor">
  </label>

  {{{input}}}

  <button class="message-form__send" type="submit">
    <img src="{{sendIcon}}" alt="send">
  </button>
</form>
