<main class="app">
  {{#> Form
  title="Регистрация"
  formId="signupForm"
  buttonText="Зарегистрироваться"
  linkText="Войти"
  linkHref="/login"
  }}

  {{> Input type="email" name="email" label="Почта" error="Введите почту"}}
  {{> Input type="text" name="login" label="Логин" error="Введите логин"}}
  {{> Input type="text" name="first_name" label="Имя" error="Введите имя"}}
  {{> Input type="text" name="second_name" label="Фамилия" error="Введите фамилию"}}
  {{> Input type="phone" name="phone" label="Телефон" error="Введите номер телефона"}}
  {{> Input type="password" name="password" label="Пароль" isPassword=true error="Неверный пароль"}}
  {{> Input type="password" name="repeatPassword" label="Пароль (еще раз)" isPassword=true error="Пароли не совпадают"}}

  {{/Form}}
</main>
